# Project exclude paths
/.gradle/
/Bulls and Cows/task/build/
/Bulls and Cows/task/out/
/Bulls and Cows/task/out/production/classes/
/Topics/Floating-point types/Difference between two doubles/out/
/Topics/Floating-point types/Difference between two doubles/out/production/classes/
/Topics/Math library/Heron's formula/out/
/Topics/Math library/Heron's formula/out/production/classes/
/Topics/StringBuilder/Concat all strings without digits/out/
/Topics/StringBuilder/Concat all strings without digits/out/production/classes/